[submodule "frontend"]
	path = frontend
	url = git@github.com:MatthewShinkfield/portfolio-frontend.git
[submodule "studio"]
	path = studio
	url = git@github.com:MatthewShinkfield/portfolio-studio.git
